* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=01b9ed&c2=011e2c&gt=r&gd=dcc
*/
background: #01B9ED;
background: radial-gradient(at center, #01B9ED, #011E2C);

    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    background: #01B9ED;
    padding: 24px;
    color: #ffffff;
    text-align: center;
}

.container{
    background: #ffffff;
    border-radius: 12px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
}

.form{
   padding: 18px;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom:4px ;
}

.form-content  input {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;

}

.form-content a {
    position: absolute;
    bottom: -8;
    left: 0;
    visibility: hidden;
    text-decoration: none;
}
.form button {
    background: #01B9ED;
    color: #fff;
    border-radius: 14px;
    border: 0;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-top: 14px;
    cursor: pointer;
}

.btn:hover{
    background: rgb(1,185,237);
    background: linear-gradient(90deg, rgba(1,185,237,1) 0%, rgba(19,146,182,1) 50%, rgba(6,61,122,0.7456232492997199) 100%);
    
}



.form-content.error  input{
  border-color: #ff3b25;
}

.form-content.error a{
color:#ff3b25; 
visibility: visible;
}





